In [ ]:
import pandas as pd
import sys
import os
# Add the src directory to the system path for importing modules
sys.path.append(os.path.abspath('C:/Users/Hp/User_Overview_Analysis/scripts'))
from clean_data import clean_data
from extract_data import connect_to_db
# Load and clean data
df = connect_to_db()
cleaned_df = clean_data(df)

# Display cleaned data
cleaned_df.head()

Columns in the fetched data: Index(['user_id', 'application', 'session_duration', 'download_data',
       'upload_data'],
      dtype='object')
        user_id application  session_duration  download_data  upload_data
0  3.366496e+10     Samsung         1823652.0    308879636.0   36749741.0
1  3.368185e+10     Samsung         1365104.0    653384965.0   53800391.0
2  3.376063e+10     Samsung         1361762.0    279807335.0   27883638.0
3  3.375034e+10   undefined         1321509.0    846028530.0   43324218.0
4  3.369980e+10     Samsung         1089009.0    569138589.0   38542814.0
Cleaned Data:
         user_id application  session_duration  download_data  upload_data  \
92  3.368542e+10     Samsung          243504.0    556406594.0   43336429.0
93  3.366132e+10       Apple          236570.0    757526492.0   40719212.0
95  3.361513e+10     Samsung          231780.0    139043208.0   53052136.0
96  3.366495e+10      Huawei          230839.0    329159454.0   30713366.0
97  3.366403e+10       Apple          238915.0    546747900.0   57680454.0

    total_data_volume
92        599743023.0
93        798245704.0
95        192095344.0
96        359872820.0
97        604428354.0

,user_id,application,session_duration,download_data,upload_data,total_data_volume
92,3.368542e+10,Samsung,243504.0,556406594.0,43336429.0,599743023.0
93,3.366132e+10,Apple,236570.0,757526492.0,40719212.0,798245704.0
95,3.361513e+10,Samsung,231780.0,139043208.0,53052136.0,192095344.0
96,3.366495e+10,Huawei,230839.0,329159454.0,30713366.0,359872820.0
97,3.366403e+10,Apple,238915.0,546747900.0,57680454.0,604428354.0